<template>
  <div class="w-languages">
    <v-menu open-on-hover offset-y>
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          fab
          dark
          small
          color="primary"
          v-bind="attrs"
          v-on="on"
          v-text="$i18n.locale"
        >
        </v-btn>
      </template>

      <v-list>
        <v-list-item
          link
          v-for="(lang, index) in languages"
          :key="index"
          :disabled="lang.value === $i18n.locale"
          @click="setLocale(lang.value)"
        >
          <v-list-item-title v-text="lang.name" />
        </v-list-item>
      </v-list>
    </v-menu>
  </div>
</template>

<script>
const LANGUAGES = [
  {
    name: "Русский",
    value: "ru",
  },
  {
    name: "English",
    value: "en",
  },
];

export default {
  name: "WLanguages",
  created() {
    this.languages = LANGUAGES;
    this.initLocaleFromStorage();
  },
  methods: {
    setLocale(locale) {
      try {
        this.$i18n.locale = locale;
        localStorage.setItem("locale", locale);
      } catch (error) {
        console.error(error);
      }
    },

    initLocaleFromStorage() {
      if (!localStorage.getItem("locale")) {
        return;
      }

      this.$i18n.locale = localStorage.getItem("locale");
    },
  },
};
</script>

<style lang="scss">
.w-languages {
  position: absolute;
  top: 24px;
  right: 24px;
}
</style>
